@CHARSET "UTF-8";

* { border: 0; margin: 0; padding: 0; }

html { position: absolute; background: #fff; left: 0; right: 0; top: 0; bottom: 0; height: 100%; width: 100%; }
body { position: relative; min-height: 100%; font-size: 75%; color: #222; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

h1,h2,h3,h4,h5,h6 { font-weight: normal; }
h1 { font-size: 18px; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

p { color: #444; }

header { height: 20px; padding: 5px 10px; line-height: 20px; background: #F2F2F2; color: #888; border-bottom: 1px solid #E5E5E5; z-index: 100; position: relative; }
header h1 { float: left; }
header ul { margin: auto; width: 30%; list-style-type: none; list-style: none; }
header nav { position: relative; top: -6px; height: 30px; width: 50%; float: right; padding: 0; }
header nav a { height: 24px; line-height: 20px; float: right; padding: 5px 10px 0 10px; margin: 0 10px; text-decoration: none; }
header nav a[href] { color: #43A1D6; }
header nav a:active { color: #43A1D6; }

menu { background: #F2F2F2; border-right: 5px solid #E5E5E5; float: left; width: 225px; color: #888; padding: 40px 10px 20px 10px; height: 100%; position: absolute; top: 0; z-index: 50; box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}

menu ul { list-style-type: none; list-style: none; }
menu ul li { height: 15px; width: 174px; position: relative; left: 10px; color: #43A1D6; cursor: pointer; border: 1px solid #E5E5E5; border-right: 5px solid #E5E5E5; padding: 5px 5px 5px 20px; margin-bottom: 10px; }
menu ul li.active { border-right: 5px solid #fff; background: #fff; } 

article { margin-left: 220px; padding: 20px; }
article ul { list-style-type: none; list-style: none; }

form:before, form:after { content: " "; display: table; }
form:after { clear: both; }

article.login { width: 360px; margin: 50px auto; background: #F2F2F2; border-bottom: 1px solid #E5E5E5; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 20px; }
article.login h2 { display: block; position: relative; top: -20px; left: -20px; width: 350px; height: 20px; padding: 5px 25px;
    line-height: 20px; font-size: 18px; color: #43A1D6; border-bottom: 5px solid #E5E5E5; }
article.login p+p { margin-top: 20px; }
article.login label { width: 120px; margin-right: 20px; display: inline-block; }
article.login input { width: 200px; }
article.login input[type="submit"], article.login input[type="button"], article.login input[type="reset"] { width: 60px; float: right; margin-top: 20px; }
article.login div.actions { clear: both; }

form div { display: inline-block; }
form div.actions { float: right; }

input { border: 1px solid #E5E5E5; padding: 2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 0 5px; background: #fff; }
input[type="number"] { width:5em; text-align: right; }
button { border: 1px solid #E5E5E5; padding: 2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 0 5px; background: #fff; }

/*
.error input, .notice, .success, .errorlist li {border:2px solid #ddd;}
.error input, .errorlist li {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
*/

form.ng-dirty { background:#FFF6BF;color:#514721;border-color:#FFD324; }
input.ng-invalid { border:2px solid #ddd; background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4; }

li.record { padding: 10px; border: 2px solid #E5E5E5; margin-bottom: 1em; min-height: 24px; line-height: 24px;
    -webkit-border-radius: 10px; -moz-border-redius: 10px; border-radius: 10px; }
li.record h3 { display: inline-block; min-width: 100px; height: 18px; line-height: 18px; padding: 3px; margin: 0px 0 0 1em; }
li.record label { display: inline-block; border: 1px solid #E5E5E5; padding: 2px; background: #eee; margin: 0 0 0 -1px; padding: 2px; height: 18px; line-height: 18px;
    -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 0; -moz-border-radius-topright: 0; border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0;
}
li.record input { display: inline-block; border: 1px solid #E5E5E5; padding: 2px; background: #fff; margin: 1px 1em 0 0; padding: 2px; height: 18px; line-height: 18px;
    -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px;
}

form.addzone, form.addzone.ng-dirty { padding: 10px; border: 2px solid #E5E5E5; margin-bottom: 1em; min-height: 24px; line-height: 24px;
        -webkit-border-radius: 10px; -moz-border-redius: 10px; border-radius: 10px; }
form.addzone li { border: 0; background: transparent; }
form.addzone label { min-width: 7em; }

