<ol class="records">
    <li>$ORIGIN <input type="text" ng-model="zone.zone" disabled /></li>
    <li>$TTL <input type="number" ng-model="default.ttl" /></li>
    <form>
        <li>
            <input type="text" ng-model="zone.zone" disabled required />
            <input type="number" ng-model="zone.ttl" required />
            <span class="dnsclass">IN</span>
            <input type="text" class="rrtype" value="SOA" disabled />
            <input type="text" ng-model="zone.primary_ns" required />
            <input type="text" ng-model="zone.contact" required /> (
        </li>
        <li>
            <input type="number" ng-model="zone.serial" diabled required />
            <span class="comment">; serial number of this zone file</span>
        </li>
        <li>
            <input ng-model="zone.refresh" type="number" required />
            <span class="comment">; slave refresh</span>
        </li>
        <li>
            <input ng-model="zone.retry" type="number" required />
            <span class="comment">; slave retry time in case of a problem</span>
        </li>
        <li>
            <input ng-model="zone.expire" type="number" required />
            <span class="comment">; slave expiration time</span>
        </li>
        <li>
            <input ng-model="zone.minimum" type="number" required />
            <span class="comment">; maximum caching time in case of failed lookups</span>
        </li>
        <li>
            <span class="soa">)</span>
        </li>
    </form>
    <li class="record" ng-repeat="record in records">
        <form ng-include src="getTemplateUrl(record)" ng-controller="ZoneRecordCtrl"></form>
    </li>
</ol>
