<!DOCTYPE html>
<html>
    <head>
        <title>DNS Zone Management</title>
        <link rel="stylesheet" type="text/css" href="/static/dns/css/dns.css" />

        <script type="text/javascript" src="/static/dns/js/inittasks.js"></script>
        <script type="text/javascript" src="/static/dns/js/inheritance.js"></script>
        <script type="text/javascript" src="/static/dns/js/XMLHttpRequest.js"></script>
        <script type="text/javascript" src="/static/dns/js/dns.js"></script>
        <script type="text/javascript" src="/static/dns/js/zone.js"></script>
        <script type="text/javascript" src="/static/dns/js/record.js"></script>
    </head>
    <body>
    </body>
    <script type="text/javascript">InitTasks.run();</script>
</html>        
