{% extends "base.html" %}

{% block pagetitle %}DNS Zone Management{% endblock %}
{% block javascript %}
        <script type="text/javascript" src="/static/dns/js/lib/sprintf.js"></script>
        <script type="text/javascript" src="/static/dns/js/lib/jsbn-combined.js"></script>
        <script type="text/javascript" src="/static/dns/js/lib/ipv6.js"></script>
        <script type="text/javascript" src="/static/dns/js/uuid.js"></script>
        <script type="text/javascript" src="/static/dns/js/inheritance.js"></script>
        <script type="text/javascript" src="/static/dns/js/XMLHttpRequest.js"></script>
        <script type="text/javascript" src="/static/dns/js/form/input.js"></script>
        <script type="text/javascript" src="/static/dns/js/form/select.js"></script>
        <script type="text/javascript" src="/static/dns/js/dns.js"></script>
        <script type="text/javascript" src="/static/dns/js/zone.js"></script>
        <script type="text/javascript" src="/static/dns/js/record.js"></script>
{% endblock %}